body{
  padding: 0;
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right bottom, rgb(116, 116, 227), rgb(246, 246, 153));
  display: flex;
  justify-content: center;
  /* align-items: center; */

}